@font-face {
    font-family: "PT Sans";
    src: url(./fonts/PTSans-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: "PT Sans";
    src: url(./fonts/PTSans-Regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family: "LibreBaskerville";
    src: url(./fonts/LibreBaskerville-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: "LibreBaskerville";
    src: url(./fonts/LibreBaskerville-Regular.ttf);
    font-weight: normal;
}

* {
    color: #fff;
}

a {
    color: inherit;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}

a:hover {
    color: #FBD784;

}

.headSection {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 570px;
}

.headSection::before {
    display: block;
    content: '';
    position: absolute;
    background-image: linear-gradient(#0B1D26 0%, transparent 70%, transparent 70%, #0B1D26 97%), url(./images/mainBackground.png);
    background-size: cover;
    height: 1500px;
    width: 100%;
    border: 1px solid black;
    z-index: -2;
}

.headWrapper {
    width: 1760px;
}

.topMenu {
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mainLogo {
    font-family: "LibreBaskerville";
    color: #ffffff;
    font-size: 32px;
}

.topMenu__menu {
    display: flex;
    justify-content: space-between;
    font-family: "PT Sans";
    font-weight: normal;
    color: #ffffff;
}

.topMenu__menuItem {
    margin: 0 40px;
    font-size: 18px;
}

.topMenu__account {
    display: flex;
    justify-content: center;
    align-items: center;
}

.topMenu__accountIco {
    background: url(./images/account.svg) no-repeat center;
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.topMenu__accountText {
    color: #ffffff;
    font-family: "PT Sans";
    font-size: 17px;
}

.headContent {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 170px 0;
    max-width: 950px;
}

.remark {
    position: relative;
    margin-bottom: 20px;
}

.remark::before {
    position: absolute;
    content: '';
    display: block;
    height: 2px;
    width: 72px;
    background: #FBD784;
    top: 7px;
}

.remark__text {
    padding-left: 95px;
    color: #FBD784;
    font-family: "PT Sans";
    font-weight: bold;
    letter-spacing: 8px;
    text-transform: uppercase;
    font-size: 18px;
}

.headContent__title {
    color: #ffffff;
    font-family: "LivreBaskerville";
    font-size: 88px;
}

.headContent__scroll {
    position: relative;
    margin-top: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: top .2s ease-in-out;
    top: 0px;
}

.headContent__scroll:hover {
    top: 5px;
}

.headContent__scrollText {
    font-family: "PT Sans";
    color: #ffffff;
    font-size: 18px;
}

.headContent__scrollBtn {
    background: url(./images/arrow.svg) no-repeat center;
    width: 26px;
    height: 26px;
    margin-left: 10px;
}

.wrapper {
    max-width: 1460px;
    width: 100%;
}

.stepSection {
    display: flex;
    justify-content: center;
    position: relative;
    padding-bottom: 150px;
    background: #0B1D26;
    box-sizing: border-box;
}

.afterHeadSection::after {
    position: absolute;
    content: '';
    display: block;
    background: linear-gradient(transparent 0%, #0B1D26 30%);
    width: 100%;
    background-size: cover;
    height: 1000px;
    top: -100px;
    z-index: -2;
}

.afterHeadSection {
    background: none;
}

.stepSectionWrapper {
    display: flex;
    justify-content: space-between;
}

.stepSection__content {
    padding-left: 170px;
    position: relative;
    margin-top: 150px;
}

.stepSection__image {
    width: 556px;
}

.stepSection__title {
    font-family: "LivreBaskerville";
    font-size: 64px;
    margin-bottom: 50px;
}

.stepSection__content--left {
    margin-right: 150px;
}

.stepSection__desc {
    font-family: "PT Sans";
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 30px;
}

.stepSection__image {
    cursor: pointer;
    transition: transform .2s ease-in-out;
}

.stepSection__image:hover {
    transform: scale3d(1.01,1.01,1.01);
}

.stepSection__number {
    font-family: "PT Sans", sans-serif;
    position: absolute;
    z-index: 0;
    font-weight: bold;
    font-size: 240px;
    top: -125px;
    left: 30px;
    opacity: .2;
}

.stepSection__linkBtn {
    background: url(./images/arrow-right.svg) no-repeat center;
    width: 30px;
    height: 30px;
    margin-left: 15px;
}

.stepSection__link {
    display: flex;
    align-items: center;
}

.stepSection__linkText {
    color: #FBD784;
    font-size: 18px;
}

.stepSection__content--right { 
    margin: 150px 100px 0;
}

.footer {
    display: flex;
    justify-content: space-between;
} 

.footer__slogan {
    font-family: "PT Sans";
    font-size: 18px;
    line-height: 25px;
    margin: 25px 0;
}

.footer__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer__coptyright {
    margin-top: 50px;
}

.footer__menuTitle {
    font-family: "PT Sans";
    font-size: 24px;
    color: #FBD784;
    margin-bottom: 30px; 
}

.footer__menu {
    display: flex;
}

.footer__menuItems {
    display: flex;
    flex-direction: column;
}

.footer__subMenu {
    margin-left: 220px;
}

.footer__subMenuItem {
    margin: 10px 0;
    font-family: "PT Sans";
    font-size: 18px;
}

.scroller {
    position: fixed;
    top: 350px;
    right: 80px;
    height: 255px;
    width: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 999;
}

.scroller__scrollBtn.active, .scroller__scrollBtn:hover {
    border-right: 3px solid #ffffff;
}

.scroller__scrollBtn {
    border-right: 3px solid rgba(255, 255, 255, 0.5);
    flex-grow: 1;
    text-align: center;
    box-sizing: border-box;
    padding: 24px;
    font-family: "PT Sans", sans-serif;
    cursor: pointer;
    transition: border-right .2s ease-in-out;
    font-size: 18px;
}
